<!-- Header -->
<header id="header">
    <h1><a asp-controller="Home" asp-action="Index" style="padding: auto;"><img src="~/img/0722logo.png" height="95%"></a></h1>
    <nav class="links">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Начало</a></li>
            <li><a asp-controller="News" asp-action="Samokov">Самоков</a></li>
            <li><a asp-controller="News" asp-action="Sport">Спорт</a></li>
            <li><a asp-controller="News" asp-action="Bulgaria">България</a></li>
            <li><a asp-controller="News" asp-action="Elections2019"><i class="far fa-check-square"></i>Избори 2019</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Търси</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Търси..." />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Търси</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Търси..." />
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <h3>Начало</h3>
                </a>
            </li>
            <li>
                <a asp-controller="News" asp-action="Samokov">
                    <h3>Самоков</h3>
                </a>
            </li>
            <li>
                <a asp-controller="News" asp-action="Sport">
                    <h3>Спорт</h3>
                </a>
            </li>
            <li>
                <a asp-controller="News" asp-action="Bulgaria">
                    <h3>България</h3>
                </a>
            </li>
            <li>
                <a asp-controller="News" asp-action="Elections2019">
                    <h3><i class="far fa-check-square"></i>Избори 2019</h3>
                </a>
            </li>
            <partial name="_LoginPartial" />

        </ul>
    </section>


</section>
