@using Microsoft.AspNetCore.Identity
@using NewsSystem.Common
@using NewsSystem.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    {
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.EditorRoleName))
        {
            <li><a asp-area="Administration" asp-controller="Office" asp-action="Index" id="userTools"><h3><i class="fa fa-user-circle"></i>Офис</h3></a></li>
        }
        if (this.User.IsInRole(GlobalConstants.ReporterRoleName) || this.User.IsInRole(GlobalConstants.EditorRoleName))
        {
            <li><a asp-area="Administration" asp-controller="News" asp-action="Create" id="userTools"><h3><i class="fa fa-file"></i>Създай</h3></a></li>

        }
    }

    <form style="display: inline-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="">Logout</button>
    </form>
}
else
{
    <!-- Actions -->
    <section>
        <ul class="actions stacked">
            <li><a href="/Identity/Account/Login" class="button large fit">Вход</a></li>
        </ul>
    </section>

}

