@using NewsSystem.Common
<section id="sidebar">
    <!-- Mini Posts -->
    @await Component.InvokeAsync("MainNews")
    <!-- li> article> header> h3>a>TITLE<a<h3 time>ADDED<title <header a.image>img>IMG<img<a <article <li -->
    <!-- Posts List -->
    <section id="mainNewsPosts">
        <ul class="posts"></ul>
        <ul class="actions">
            <li><button id="mainNewsLoad" href="" class="button">Още</button></li>
        </ul>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>@UIConstants.ABOUT</h2>
        @* <p> *@
        @*     Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod *@
        @*     amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies. *@
        @* </p> *@
        <ul class="actions">
            <li><a asp-controller="Home" asp-action="Etical"  class="button">@UIConstants.ETICAL_CODEX</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. </p>
    </section>

</section>