@using NewsSystem.Web.Areas.Administration.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Administration/Views/Shared/_DashboardLayout.cshtml";
}

<h4>
    Empty ImageUrl: @this.Model.CountNullNewsImageUrls --
    Empty OriginalUrl: @this.Model.CountNullNewsOriginalUrl --
    Empty RemoteId: @this.Model.CountNullNewsRemoteId
</h4>
