@model NewsSystem.ViewModels.NewsListViewModel

<section id="top_news">
<ul class="main-carousel">
    @foreach (var news in this.Model.News)
    {
        <li class="carousel-cell">
            <div class="top_news blue-hover">
                <img class="lozad" data-src="@news.ImageUrl">
                <div class="top_news_content">
                    @* <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px"> *@
                    @*     Travel *@
                    @* </p> *@

                    <h3 class="mt-0 mb-1" style="line-height: 1.25;">
                        @news.Title
                    </h3>

                    <p class="mb-1 ti-1">
                        @news.ShortContent
                    </p>
                    <div class="readMore">
                        <a href="@news.Url" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
</section>