/* loading */
secetion.loading{
    &::before{
        content: url('/img/loader.gif');
    }
}

section.loaded::before{
    display: none;
}

.btnLoading{
    background-image: url('/img/buttonLoading.gif');
    background-repeat: no-repeat;
    background-position: center;

    &:disabled {
        cursor: wait;
    }
}

img.lozad {
    background-image: url('/img/image-placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
}