@using NewsSystem.Common
@{
    ViewData["Title"] = UIConstants.ETICAL_CODEX;
}

<h1>@UIConstants.ETICAL_CODEX</h1>

<p>Съгласно конституцията на България и нейните международни споразумения в сферата на човешките права;</p>

<p>Като потвърждаваме, че всеки има основното право на свобода на изразяване, достъп до информация, защита на личното достойнство и неприкосновеността на личния живот и право на безопасност и сигурност;</p>

<p>Като потвърждаваме, че трябва да бъде гарантирано правото на медиите да работят без всякаква цензура;</p>

<p>Като съзнаваме, че за да се балансират тези права, медиите имат както свободи, така и отговорности, както права, така и задължения;
    Като декларираме, че нашата основна цел, възприемайки духа и буквата на този Кодекс, е да уважаваме правото на обществото да получава и разпространява достоверна информация, за да могат гражданите да играят активна роля в условията на прозрачна демокрация;</p>

<p>Като признаваме своята отговорност да уважаваме тези права, ние, представителите на българските медии, приемаме следните принципи.</p>

<h2>1. Предоставяне на достоверна информация на обществото</h2>

<h3>1.1. ТОЧНОСТ</h3>

<p>1.1.1. Ще предоставяме на обществото точна и проверена информация и няма преднамерено да скриваме или изопачаваме факти.</p>

<p>1.1.2. Няма да публикуваме информация, за която знаем, че е невярна.</p>

<p>1.1.3. Няма да подвеждаме обществото и ясно ще посочваме къде са използвани манипулирани текстове, документи, образи и звуци.</p>

<p>1.1.4. Ясно ще разграничаваме фактите от коментарите и предположенията.</p>

<p>1.1.5. В коментарите и анализите ще се стремим да представяме разнообразни мнения и гледни точки.</p>

<p>1.1.6. При отразяване на спорове ще се стремим да дадем възможност на засегнатите страни да изразят своята позиция.</p>

<h3>1.2. ПОПРАВКИ</h3>

<p>1.2.1. Ще публикуваме ясна и достатъчно забележима поправка, щом бъде доказано, че е публикувана неточна или подвеждаща информация, и ще се извиним, ако е необходимо.</p>

<p>1.2.2. Ще предоставяме право на отговор на лица и организации, засегнати пряко от неточни или подвеждащи публикации.</p>

<h3>1.3. ИЗТОЧНИЦИ</h3>

<p>1.3.1. Ще се стремим да проверяваме информацията преди нейното публикуване, като търсим и използваме различни източници, и доколкото е възможно ще посочваме нейния произход.</p>

<p>1.3.2. Предпочитаме да използваме идентифицирани източници пред анонимните, чиято честност и надеждност не може да се прецени от обществото.</p>

<p>1.3.3. Няма да разкриваме поверителните си източници на информация.</p>

<p>1.3.4. Винаги ще посочваме, когато информацията не е потвърдена.</p>

<h2>2. СЪБИРАНЕ И ПРЕДСТАВЯНЕ НА ИНФОРМАЦИЯ</h2>

<h3>2.1 ИДЕНТИФИКАЦИЯ</h3>

<p>2.1.1. Ще събираме информация с честни и законни средства, без да скриваме, че сме журналисти.</p>

<p>2.1.2. Ако използваме уловки, скрити камери и микрофони или друга специална техника, както и прикриване на професионалната си идентичност, това ще става, само ако няма друг начин да осигурим изключително важна за обществения интерес информация; ще посочваме в информацията, че са използвани такива методи.</p>

<h3>2.2. ТОРМОЗ</h3>

<p>2.2.1. Няма да използваме заплахи, принуда и тормоз за събиране на информация.</p>

<h3>2.3. НЕПРИКОСНОВЕНОСТ НА ЛИЧНИЯ ЖИВОТ</h3>

<p>2.3.1. Уважаваме неприкосновеността на личния живот на всеки.</p>

<p>2.3.2. Ще избягваме публикуването на снимки и записи, направени извън обществените места, ако засегнатите лица не са съгласни.</p>

<p>2.3.3. Няма да засилваме мъката на хората, попаднали в беда или пострадали от престъпление, и ще съобщаваме такива информации със съчувствие и сдържаност.</p>

<p>2.3.4. Ще уважаваме желанието на хората да не бъдат безпокоени в скръбта си.</p>

<p>2.3.5. Само особено важен обществен интерес може да оправдае намесата на медиите в личния и семейния живот.</p>

<p>2.3.6. Съгласно практиката на Европейския съд за правата на човека публичните лица се ползват с по-ниска степен на защита на личния живот и затова информация за техния личен живот може да бъде разкривана, но само когато се налага от обществения интерес.</p>

<h3>2.4. ДЕЦА</h3>

<p>2.4.1. Ще проявяваме специална отговорност за спазване на правата на децата, включително и правото им да бъдат чути.</p>

<p>2.4.2. Няма да се възползваме от тяхната неопитност и доверчивост.</p>

<p>2.4.3. Няма да публикуваме информация или снимки за личния живот на деца, освен ако не е от значителен обществен интерес.</p>

<p>2.4.4. Няма да разкриваме самоличността на деца, попаднали в беда или засегнати от престъпления.</p>

<p>2.4.5. Ще избягваме да интервюираме деца без съгласие на възрастни, отговарящи за тях.</p>

<h3>2.5. ДИСКРИМИНАЦИЯ</h3>

<p>2.5.1. Като уважаваме правото на всеки да живее в сигурност и безопасност, няма да публикуваме материали, подбуждащи или насърчаващи омраза, насилие и всякаква форма на дискриминация.</p>

<p>2.5.2. Няма да посочваме расовата, религиозната, етническата принадлежност, сексуалната ориентация, умственото или физическото състояние, ако тези факти нямат съществено значение за смисъла информацията.</p>

<h3>2.6. ПРЕСТЪПЛЕНИЯ И ЖЕСТОКОСТ</h3>

<p>2.6.1. Спазваме презумпцията за невинност и не квалифицираме никого като "престъпник" преди издадена присъда.</p>

<p>2.6.2. Ако сме информирали за обвинения срещу някого, ще съобщим и за изхода от съдебния процес.</p>

<p>2.6.3. Ще проявяваме предпазливост при разкриването на самоличността на жертви на престъпления и свидетели на престъпления, особено в случаите на сексуално насилие, освен ако самите жертви не се съгласят да бъдат идентифицирани.</p>

<p>2.6.4. Ще се въздържаме от възхваляващо или придаващо излишна сензационност отразяване на престъпления, насилие и жестокост.</p>

<p>2.6.5. Ще внимаваме да не бъдем използвани за платформа от онези, които насърчават, подбуждат или прилагат насилие; ще съобщаваме за техните действия с необходимата сдържаност и само ако това е в очевиден обществен интерес.</p>

<h3>2.7. БЛАГОПРИЛИЧИЕ</h3>

<p>2.7.1. Ще се придържаме към добър тон и благоприличие в нашите публикации.</p>

<h3>2.8. САМОУБИЙСТВА</h3>

<p>2.8.1. При съобщаване за самоубийства, ще избягваме да огласяваме подробности за начина, по който са извършени, за да ограничим риска от подражание.</p>

<h3>3. РЕДАКЦИОННА НЕЗАВИСИМОСТ</h3>

<p>3.1. Няма да се поддаваме на политически или икономически натиск или влияния.</p>

<p>3.2. Ясно ще разграничаваме вземането на редакционни решения от търговската политика на медията.</p>

<p>3.3. Ясно ще разграничаваме редакционното съдържание от платените публикации, рекламните от спонсорираните материали.</p>

<p>3.4. Ние не приемаме каквито и да било лични, политически или финансови стимули, които могат да повлияят на нашата способност да предоставяме на обществото точна информация.</p>

<p>3.5. Няма да използваме достъпа си до информация като средство за лично облагодетелстване, особено по отношение на информация за развитието на бизнеса и финансовите пазари.</p>

<p>3.6. Няма да отразяваме събития или теми, в които имаме пряк личен интерес, или ще посочим личните си интереси, когато това има отношение към материала.</p>

<p>3.7. Уважаваме правото на журналиста да откаже да изпълни задачи, или да бъде посочен като автор на материали, нарушаващи буквата и духа на този кодекс.</p>

<p>3.8. Ние няма да плащаме на източници за информация, но където се наложи плащане, за да се получи информация, която обществото има право да знае, ние ясно ще посочим, че е било платено за нея.</p>

<h3>4. ВЗАИМООТНОШЕНИЯ В МЕДИИТЕ И МЕЖДУ МЕДИИТЕ</h3>

<p>4.1. Ние вярваме, че взаимоотношенията между медиите, както и между медийните професионалисти, работещи в тях, трябва да се характеризират с взаимно уважение и честна конкуренция, с цел запазване на авторитета на професията.</p>

<p>4.2. Ние вярваме, че обществото има право да знае кой притежава и контролира медиите.</p>

<p>4.3. Ние смятаме за неприемливи всички форми на плагиатство.</p>

<p>4.4. Ние уважаваме авторското право и спазваме авторскоправните споразумения.</p>

<p>4.5. Кратки извадки от чужди материали могат да се използват без разрешение, но задължително трябва да се посочва от коя медия са взети.</p>

<p>4.6. По-дълги откъси или цели материали от други медии могат да се използват само с предварително разрешение и като се посочат авторът и медията.</p>

<p>4.7. Ще подкрепяме наши колеги от други медии, когато те са несправедливо нападани или критикувани. От друга страна обаче, професионалната солидарност не ще бъде извинение за укриване или изкривяване на информация.</p>

<p>4.8. Ние вярваме, че журналистите, които са спазили буквата и духа на този кодекс, но са преследвани в съда от трети страни заради техни публикации, трябва да бъдат подкрепяни от медиите, в които работят.</p>

<h3>5. ОБЩЕСТВЕН ИНТЕРЕС</h3>

<p>5.1. Нарушаването на условията на този Кодекс може да бъде оправдано, само ако се докаже недвусмислено, че е било в обществен интерес.</p>

<p>5.2. По смисъла на този кодекс информацията "в обществен интерес" не бива да се обърква с информацията, която е "интересна на обществото".</p>

<p>5.3. Една публикация е "в обществен интерес", само когато: Е в защита на здравето, безопасността и сигурността; Съдейства за предотвратяване и разкриване на тежки престъпления и злоупотреба с власт; Предпазва обществото от опасността да бъде сериозно заблуждавано.</p>