@{
    ViewData["Title"] = "Home Page";
}

    <!-- Top News -->
@await Component.InvokeAsync("TopNews")

<section id="intro"></section>

        <!--Reports-->
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="single.html">Главна новина 1</a></h2>
                    <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2019-05-13">Май 13, 2019</time>
                    <a href="#" class="author">
                        <span class="name">Име Автор</span><img src="images/avatar.jpg"
                                                                alt="" />
                    </a>
                </div>
            </header>
            <a href="single.html" class="image featured">
                <img class="lozad" data-src="images/pic01.jpg"
                     alt="" />
            </a>
            <p>
                Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
                placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non
                congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta
                lectus vitae, ultricies congue gravida diam non fringilla.
            </p>

            <footer>
                <ul class="actions">
                    <li><a href="single.html" class="button large">Прочети още</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">име категория</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                    <li><a href="#" class="icon fa-image">9</a></li>
                    <li><a href="#" class="icon fa-video">2</a></li>
                </ul>
            </footer>
        </article>

        <!-- Post -->
        <!-- <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="single.html">Главна новина 2</a></h2>
                        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2019-05-13">Май 13, 2019</time>
                        <a href="#" class="author"><span class="name">Име Автор</span><img src="images/avatar.jpg"
                                alt="" /></a>
                    </div>
                </header>
                <a href="single.html" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
                    placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non
                    congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta
                    lectus vitae, ultricies congue gravida diam non fringilla.</p>
                <footer>
                    <ul class="actions">
                        <li><a href="single.html" class="button large">Прочети още</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">име категория</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">128</a></li>
                        <li><a href="#" class="icon fa-image">9</a></li>
                        <li><a href="#" class="icon fa-video">2</a></li>
                    </ul>
                </footer>
            </article> -->
        <!-- Post -->
        <!-- <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="single.html">Главна новина 3</a></h2>
                        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2019-05-13">Май 13, 2019</time>
                        <a href="#" class="author"><span class="name">Име Автор</span><img src="images/avatar.jpg"
                                alt="" /></a>
                    </div>
                </header>
                <a href="single.html" class="image featured"><img class="lozad" data-src="images/pic01.jpg"
                        alt="" /></a>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
                    placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non
                    congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta
                    lectus vitae, ultricies congue gravida diam non fringilla.</p>
                <footer>
                    <ul class="actions">
                        <li><a href="single.html" class="button large">Прочети още</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">име категория</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">128</a></li>
                        <li><a href="#" class="icon fa-image">9</a></li>
                        <li><a href="#" class="icon fa-video">2</a></li>
                    </ul>
                </footer>
            </article> -->
        <!--end Reports-->
        <!-- Last News -->
@await Component.InvokeAsync("News")

<!-- Pagination -->
<ul class="actions pagination">
    <li><a href="" class="disabled button large previous">Предищна стр.</a></li>
    <li><a href="#" class="button large next">Следваща стр.</a></li>
</ul>

