
@{
    ViewData["Title"] = "Photos";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Photos</h1>

<section>
    <h2>Unmodified</h2>
    <div>
        <p>
            <img src="~/media/photos/news/uploads/candy-2538878_1920.jpg" />
        </p>
    </div>

    <hr />
    <div>
        <p>
            <img src="~/media/photos/news/uploads/candy-2538878_1920.jpg?width=300" />
        </p>
    </div>
    <div>
        <p>
            <img src="~/media/photos/news/uploads/candy-2538878_1920.jpg?width=300&height=200" />
        </p>
    </div>
    <div>
        <p>
            <img src="~/media/photos/news/uploads/candy-2538878_1920.jpg?width=300&height=200&rmode=stretch" />
        </p>
    </div>  
    <div>
        <p>
            <img src="~/media/photos/news/uploads/candy-2538878_1920.jpg?width=300&height=200&rmode=pad" />
        </p>
    </div>
    <div>
        <p>
            <img src="~/media/photos/news/uploads/trimaran-2806616_1920.jpg?width=300&height=200&rmode=pad" />
        </p>
    </div>
    <div>
        <p>
            <img src="~/media/photos/news/uploads/trimaran-2806616_1920.jpg?width=300&height=200&rmode=stretch" />
        </p>
    </div>
    <div>
        <p>
            <img src="~/media/photos/news/uploads/trimaran-2806616_1920.jpg?width=300&rsampler=lanczos3" />
        </p>
    </div>
    <div>
        <p>
            <img src="~/media/photos/news/uploads/trimaran-2806616_1920.jpg?width=300&rsampler=nearest" />
        </p>
    </div>

</section>


