@using NewsSystem.Common
@{
    ViewData["Title"] = UIConstants.RULES;
    this.ViewData["bodyClass"] = "";

}

<h1>ОБЩИ УСЛОВИЯ</h1>
<h2>ПРАВИЛА ЗА ПОЛЗВАНЕ НА САЙТА</h2>
<h3>1. Понятия</h3>
<p>АДМИНИСТРАТОРЪТ поддържа този сайт.</p>
<p>1.2. ПОЛЗВАТЕЛ е физическо лице, което визуализира на използваното от него устройство каквато и да е информация, поместена на сайта, от момента на визуализацията до момента на окончателно прекратяване на достъпа му до информацията.</p>
<p>1.3. IP АДРЕС е уникален идентификационен номер, позволяващ локализиране в интернет на компютър, интернет страница или ресурс.</p>
<p>1.4. ЕЛЕКТРОННА ПРЕПРАТКА представлява връзка, обозначена в интернет страница, която позволява автоматизирано препращане към друга интернет страница, информационен ресурс или обект чрез стандартизирани протоколи.</p>
<p>1.5. ИНФОРМАЦИЯ представлява както текстова информация (текст, в това число статии, новини, коментари, други подобни), така и мултимедийна информация (снимки, видео, аудио, други подобни).</p>
<p>1.6. УСЛУГИ БЕЗ РЕГИСТРАЦИЯ са тези услуги, за използването на които не се изисква ПОЛЗВАТЕЛЯТ да създава свой ПРОФИЛ.</p>
<p>1.7. УСЛУГИ С РЕГИСТРАЦИЯ са тези услуги, за чието използване се изисква ПОЛЗВАТЕЛЯТ да създаде свой ПРОФИЛ.</p>
<p>1.8. РЕГИСТРИРАН ПОЛЗВАТЕЛ е ПОЛЗВАТЕЛ, който полза услуги, за които се изисква регистрация.</p>
<p>1.9. ПРОФИЛ е информация за РЕГИСТРИРАН ПОЛЗВАТЕЛ, изисквана при регистрация за ползване на УСЛУГА С РЕГИСТРАЦИЯ. Достъпът на РЕГИСТРИРАНИЯ ПОЛЗВАТЕЛ до ПРОФИЛА му се осъществява чрез въвеждане на ИМЕ НА РЕГИСТРИРАН ПОЛЗВАТЕЛ и ПАРОЛА.</p>
<p>1.10. ИМЕ НА РЕГИСТРИРАН ПОЛЗВАТЕЛ е уникална комбинация от букви, цифри или знаци, индивидуализиращ РЕГИСТРИРАНИЯ ПОЛЗВАТЕЛ.</p>
<p>1.11. ПАРОЛА е комбинация от букви, цифри или знаци, която служи за достъп до ПРОФИЛА на РЕГИСТРИРАНИЯ ПОЛЗВАТЕЛ.</p>
<h3>2. Кога се прилагат Правилата за ползване на сайта:</h3>
<p>2.1. Правилата за ползване на сайта се прилагат по отношение на всяко лице (ПОЛЗВАТЕЛ) от момента, в който на използваното от него устройство се визуализира каквато и да е информация, поместена на сайта, до момента на окончателно прекратяване на достъпа му до информацията.</p>
<p>2.2. Лица, които не са съгласни да бъдат обвързани с настоящите Правила за ползване на сайта, нямат право да използват сайта и поместената на него информация.</p>
<p>2.3. Настоящите Правила за ползване на сайта могат да бъдат променяни. ПОЛЗВАТЕЛИТЕ се считат за обвързани с актуалния им текст към момента, в който на използваното от тях устройство се визуализира каквато и да е информация, поместена на сайта.</p>
<p>2.4. По отношение на РЕГИСТРИРАН ПОЛЗВАТЕЛ се прилагат и всички правила, които се прилагат по отношение на ПОЛЗВАТЕЛ.</p>
<h3>3. Права на интелектуална собственост</h3>
<p>3.1. Правата на интелектуална собственост по отношение на поместените на сайта обекти на права принадлежат на техните носители. Всяко неправомерно използване на такива обекти ще бъде считано за нарушение на права и може да доведе до ангажиране на гражданска или наказателна отговорност.</p>
<p>3.2. Конкретно, без изричното съгласие на носителя на правото трето лице, включително ПОЛЗВАТЕЛ на сайта, няма право да:</p>
<p>3.2.1. по отношение на компютърна програма: да я използва, да я зарежда, да я изобразява върху екран, да я изпълнява, да я предава на разстояние, да я съхранява в паметта на компютър, да я превежда, преработва и да внася други изменения в нея, т.н.</p>
<p>3.2.2. по отношение на обект на авторски и сродни права: да го записва, да го възпроизвежда, да го разпространява, да го излъчва или предава, да го използва по друг начин, или да извършва посочените действия с екземпляри от него, т.н.</p>
<p>3.3. "Интелектуална собственост" включва правата отнасящи се до: литературни, художествени и научни произведения; изпълнения на артисти-изпълнители, звукозаписи и радио- и телевизионни предавания; изобретения във всички области на човешката дейност; научни открития; промишлени образци; търговски марки, марки за услуги, търговски наименования и обозначения; закрила срещу нелоялна конкуренция, както и всички други права, произтичащи от интелектуална дейност в промишлената, научната, литературната и художествената област.</p>
<h3>4. Услуги без регистрация</h3>
<p>4.1. Всеки ПОЛЗВАТЕЛ има право да ползва сайта и поместената на него информация единствено по следния начин:</p>
<p>4.1.1. да възприема визуално или звуково поместената на сайта информация;</p>
<p>4.1.2. да препредава текстова информация в резюме като посочва, че източник е сайтът и поставя ЕЛЕКТРОННА ПРЕПРАТКА към пълната информация на сайта.</p>
<p>4.1.3. да препредава мултимедийна информация (снимки, видео, аудио, други подобни) само след предварително изрично разрешение на АДМИНИСТРАТОРА.</p>
<p>4.1.4. да поставя ЕЛЕКТРОННА ПРЕПРАТКА (хиперлинк) към сайта.</p>
<p>4.1.5. да прави и запазва копие от информация в електронен или на твърд носител за свое лично ползване, с нетърговска цел и в разумен обем.</p>
<p>4.1.6. да изразява лично мнение (коментар) относно поместените на интернет страницата статии.</p>
<p>4.2. Ползване на информация, независимо от вида му, не може да бъде считано за предоставяне на упражняването на каквито и да е било права.</p>
<p>4.3. При препредаване на информация и при копиране или запазване на копие от информация ПОЛЗВАТЕЛЯТ е длъжен да посочва, че информацията се ползва при ограниченията в настоящите Правила за ползване.</p>
<p>4.4. ПОЛЗВАТЕЛЯТ се задължава да не използва сайта или поместената на него информация, включително чрез информацията, която помества на сайта (независимо от вида й – текст, коментар, аудио, видео, т.н. ), по следните начини:</p>
<p>4.4.1. за пропагандиране или извършване на идеи и/или деяния, насочени към общественоопасни деяния, обявени от закона за наказуеми;</p>
<p>4.4.2. за пропагандиране на идеи и/или деяния, насочени към дискриминация, основана на пол, раса, народност, етническа принадлежност, човешки геном, гражданство, произход, религия или вяра, образование, убеждения, политическа принадлежност, лично или обществено положение, увреждане, възраст, сексуална ориентация, семейно положение, имуществено състояние, др.;</p>
<p>4.4.3. в нарушение на приложимото право, на обществения ред и общоприетите морални норми.</p>
<p>4.4.4. по начин, който би могъл да се определи като неприемлив, включително, но не само чрез отправяне на обиди или клевети към трети лица.</p>
<p>4.4.5. по начин, по който се разкриват лични данни на трето лице.</p>
<p>4.4.6. за разпространяване на порнография или на еротично съдържание с участие на или предназначени за лице под 18 (осемнадесет) години или лице, което изглежда като такова.</p>
<p>4.4.7. с търговска и / или рекламна цел, освен ако в сайта изрично не е посочено друго.</p>
<p>4.4.8. чрез прикриване на самоличността си посредством използване на име на трето лице.</p>
<h3>5. Услуги с регистрация</h3>
<p>5.1. За използване на част от услугите може да е необходима регистрация. Услуга, която изисква регистрация, е хостингът (съхраняване на чужда информация), др.</p>
<p>5.2. Всеки ПОЛЗВАТЕЛ, който възнамерява да ползва УСЛУГА С РЕГИСТРАЦИЯ, трябва да създаде свой ПРОФИЛ на РЕГИСТРИРАН ПОЛЗВАТЕЛ, като попълни и потвърди верността на данните си в регистрационна форма в сайта.</p>
<p>5.3. Чрез създаване на ПРОФИЛ ПОЛЗВАТЕЛЯТ: 5.3.1. придобива ИМЕ НА РЕГИСТРИРАН ПОЛЗВАТЕЛ и ПАРОЛА, с които се идентифицира.</p>
<p>5.3.2. получава право да ползва УСЛУГАТА С РЕГИСТРАЦИЯ съобразно тези Правила за ползване.</p>
<p>5.4. РЕГИСТРИРАНИЯТ ПОЛЗВАТЕЛ се задължава да не предоставя на трети лица достъп до своята ПАРОЛА за достъп до УСЛУГАТА С РЕГИСТРАЦИЯ. РЕГИСТРИРАНИЯТ ПОЛЗВАТЕЛ се задължава незабавно да уведоми АДМИНИСТРАТОРЪТ в случай, че трети лица имат достъп до използваната от него ПАРОЛА или има съмнения за подобни действия, както и да предприеме действия за преустановяване на такъв достъп. Всякакви действия, извършени от ИМЕТО на РЕГИСТРИРАНИЯ ПОЛЗВАТЕЛ, се считат за извършени от него.</p>
<p>5.5. РЕГИСТРИРАНИЯТ ПОЛЗВАТЕЛ се съгласява да получава електрони съобщения, свързани с ползването на услугата.</p>
<h3>6. Права и задължения на АДМИНИСТРАТОРЪТ</h3>
<p>6.1. АДМИНИСТРАТОРЪТ предоставя услугите във вида, в който са. АДМИНИСТРАТОРЪТ има право едностранно да променя услугите, които предоставя или да прекрати предоставянето им, без да уведомява за това ПОЛЗВАТЕЛИТЕ.</p>
<p>6.2. По искане на компетентен държавен орган в случаите и при реда, установени със закон, АДМИНИСТРАТОРЪТ е длъжен да предостави данни относно ПОЛЗВАТЕЛ, включително лични данни, ако разполага с такива.</p>
<p>6.3. В случай, че узнае или бъде уведомено, че ПОЛЗВАТЕЛ нарушава Правилата за ползване, АДМИНИСТРАТОРЪТ предприема незабавни действия за преустановяване на нарушението.</p>
<p>6.4. АДМИНИСТРАТОРЪТ има право:</p>
<p>6.4.1. да отказва или прекратява регистрация, да преустановява достъпа до информация или да премахва информация на ПОЛЗВАТЕЛ, в случай че е налице нарушение на Правилата на ползване, както и в случай, че е направено искане за това от компетентен орган, или че трето лице твърди, че ПОЛЗВАТЕЛ или поместена от него информация нарушава Правилата за ползване и АДМИНИСТРАТОРЪТ прецени, че твърдението може да е основателно;</p>
<p>6.4.2. да изпраща електронна поща до РЕГИСТРИРАН ПОЛЗВАТЕЛ, когато той е дал съгласие да получава съобщения на посочения от него електронен адрес или това е необходимо във връзка с използването на УСЛУГАТА С РЕГИСТРАЦИЯ.</p>
<h3>7. Декларации:</h3>
<p>7.1. Всеки ПОЛЗВАТЕЛ декларира, че съзнава, че информацията, поместена на сайта:</p>
<p>7.1.1. следва да се приема критично независимо от източника й;</p>
<p>7.1.2. може да съдържа субективно отношение на автора или на трето лице;</p>
<p>7.1.3. съществува вероятност да не е изцяло или отчасти точна или пълна;</p>
<p>7.1.4. съществува вероятност да не е актуална към момента, в който се възприема от ПОЛЗВАТЕЛЯ.</p>
<h3>8. Ограничаване на отговорност от страна на АДМИНИСТРАТОРЪТ</h3>
<p>8.1. АДМИНИСТРАТОРЪТ не дължи на ПОЛЗВАТЕЛ или на трето лице каквито и да е било обезщетения в случай:</p>
<p>8.1.1. на вреди (независимо от вида им), настъпили при действия или бездействия на увреденото лице или на трето лице в резултат на предприемане на поведението на някое от лицата, съобразено с информация, поместена на сайта;</p>
<p>8.1.2. на вреди (независимо от вида им), възникнали във връзка с използване на друг ресурс в интернет, към който води интерактивна връзка от този сайт;</p>
<p>8.1.3. че устройството, чрез което се ползва сайта, бъде увредено от компютърна програма, която се разпространява автоматично и против волята или без знанието на ползващите компютърните системи лица и е предназначена за привеждане на компютърни системи или компютърни мрежи в нежелани от ползващите ги състояния или в осъществяване на нежелани резултати;</p>
<p>8.1.4. на вреди (независимо от вида им), възникнали във връзка със загуба на информация, поместена от ПОЛЗВАТЕЛЯ на сайта, включително, но не само при прекратена регистрация или при ограничен или прекратен достъп до цялата или част от информацията на ПОЛЗВАТЕЛ.</p>
<p>8.3. АДМИНИСТРАТОРЪТ не отговаря за съдържанието на информацията или за дейността на ПОЛЗВАТЕЛ.</p>
<p>8.4. АДМИНИСТРАТОРЪТ не е длъжен да извършва наблюдение на информацията на ПОЛЗВАТЕЛ, която съхранява, пренася или прави достъпна при предоставяне на УСЛУГА С ИЛИ БЕЗ РЕГИСТРАЦИЯ, нито да търси факти и обстоятелства, указващи извършването на неправомерна дейност.</p>
<h3>9. Приложимо право</h3>
<p>9.1. Всеки спор относно действието на настоящите Правила за ползването на сайта или във връзка с тях, или с тяхното нарушаване, включително споровете и разногласията относно действителността, тълкуването, прекратяването, изпълнението или неизпълнението на задължения на страните, ще се уреждат от страните по приятелски начин. При непостигане на съгласие спорът ще се отнася за решаване пред съответния родово компетентен съд в гр. София по реда на Гражданския процесуален кодекс.</p>
<p>9.2. Решение от компетентен съд или изменение на законодателството, което прави някое от условията на тези Правила за ползването на сайта невалидно, недействително или неизпълнимо, ще се отнася само до това условие и няма да прави никое друго условие невалидно, недействително или неизпълнимо и всички други условия ще останат в пълна сила и ефект, доколкото не са повлияни съществено от изменението.</p>
<p>9.3. За всички неуредени въпроси се прилагат разпоредбите на българското гражданско законодателство.</p>
<h3>10. Кореспонденция 10.1.</h3>
<p>АДМИНИСТРАТОРЪТ поддържа електронна поща, на която всеки ПОЛЗВАТЕЛ има право да сигнализира за констатирани нарушения на Правилата за ползване от страна на трето лице.</p>
<p>10.2. В случай, че съобщението на ПОЛЗВАТЕЛЯ е свързано с извършване на каквито и да е правни действия, включително, но не само с упражняване на права, с изпълнение на задължения, с отправяне на покана и други подобни или в случай, че достигането му до АДМИНИСТРАТОРА е от съществено значение или в случай че се желае получаване на отговор, то съобщението следва да бъде изпратено на адреса на АДМИНИСТРАТОРА. Изпращането на съобщение по електронен път е равнозначно и замества писменото съобщение, изпратено на адреса на управление на АДМИНИСТРАТОРА.</p>
